body {
    background-color: #004980;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.blocks {
    display: flex;
    gap: 24px;
    padding-bottom: 67px;
}

.difficultySelection {
    width: 480px;
    height: 459px;
    background-color: #c2f5ff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.styleText {
    font-family: "StratosSkyeng";
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #004980;
    width: 208px;
    height: 96px;
    padding-bottom: 48px;
}

.block1 {
    background: #ffffff;
    border-radius: 12px;
    width: 98px;
    height: 98px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #0080c1;
    font-family: "StratosSkyeng";
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    display: flex;
    justify-content: center;
    user-select: none;
}

.block1:hover {
    cursor: pointer;
    background-color: #dad5d5;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7ac100;
    border-radius: 12px;
    width: 246px;
    height: 50px;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #ffffff;
}

.gameCard {
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 1rem;
    margin-top: 35px;
}
.timer {
    width: 155px;
    height: 72px;
    left: 22px;
    top: 41px;
    font-family: "StratosSkyeng";
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 45px;
    color: #ffffff;
    margin-right: 583px;
}
.minSek {
    height: 32px;
    font-family: "StratosSkyeng";
    font-style: normal;
    width: 100%;
    font-size: 16px;
    line-height: 32px;
    color: #ffffff;
    display: flex;
    gap: 57px;
    margin-left: 38px;
}
.menuGame {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.cardOpen {
    width: 95px;
    height: 133px;
    left: 25px;
    top: 148px;
    background: #ffffff;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px 6px;
}
.cardClosed {
    width: 95px;
    height: 133px;
    left: 26px;
    top: 148px;
    background: #ffffff;
    border-radius: 4px;
    background: url(image/rub.svg);
    cursor: pointer;
    background-size: cover;
    background-position: center;
}
.cardClosed > * {
    display: none !important;
}
.topCard,
.botCard {
    font-family: "StratosSkyeng";
    font-weight: 400;
    font-size: 24px;
    display: flex;
    align-items: center;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
    display: flex;
    flex-direction: column;
}
.topCard img,
.botCard img {
    width: 6.97px;
    height: 6px;
    margin-left: 4px;
}
.botCard {
    transform: rotate(180deg);
    display: flex;
    align-items: flex-start;
}
.topCard {
    display: flex;
    align-items: flex-start;
}
.midCard {
    display: flex;
    align-items: center;
    justify-content: center;
}
